<section class="wrapper">
  <aside class="sidebar -closed">
    <div class="close">
      <span class="icon pe-7s-angle-left"></span>
    </div>

    <nav class="navigation">
      <div class="link">
        <span class="icon pe-7s-home"></span>
        <span class="title">
          Home
        </span>
      </div>
    </nav>
  </aside>

  <section class="container">
    <div class="background"></div>

    <div class="content">
      <section class="home">
        <h1 class="title">
          The most beautiful, objective and elegant Pokédex out there <i> (maybe not) </i>
        </h1>

        <div class="search">
          <span class="icon pe-7s-search"></span>
          <input type="text" placeholder="Search for Pokemon...">
          <button> Go </button>
        </div>
      </section>
    </div>
  </section>
</section>
