$mainBG = rgb(27, 18, 61);
$sidebarBG = rgb(22, 13, 51);
$headerBG = rgb(32, 22, 69);
$cardsBG = rgba(49, 41, 85, 0.7);
$inputColor = rgb(85, 86, 151);
$inputBgColor = rgb(255, 255, 255);

$labelsBG = rgba(25, 20, 54, 0.5);
$buttonsBG = rgb(72, 63, 107);

$goodColor = rgb(29, 196, 155);
$badColor = rgb(229, 71, 135);
$goodColorBlue = rgba(56, 198, 244, 0.835);
$interactionColor = rgb(204, 174, 112);

$fontPrimaryColor = rgb(255, 255, 255);
$fontSecondaryColor = rgb(137, 145, 182);
